body {
  background-color: #F5F7FF;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
}

/* Shared Style Start */
.primary-bg {
  background-color: #4E47FF;
  color: #ffffff;
}

.primary-color {
  color: #4E47FF;
}

.primary-btn {
  background-color: #4E47FF;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
  cursor: pointer
}

.primary-btn:hover {
  background-color: #211aff;
}

.section-heading {
  font-size: 42px;
  font-weight: bold;
}

.section-description {
  font-size: 24px;
  font-weight: normal;
  color: rgba(37, 36, 50, 0.5);

}

/* Header Style Start */
header {
  background-image: url("../Assets/Hero-bg.png");
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
}

.nav-title {
  font-size: 34px;
  font-weight: 900;
}

.banner {
  text-align: center;
  margin: 0 267px;
  padding: 158px 0 200px 0;
}

.banner h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 120%;
}

/* Start Action Section */
.action {
  display: flex;
  justify-content: space-between;
  margin: 115px 150px;
}

main img {
  border-radius: 48px;
}

/* User Data Style */
.user-data-section {
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
  margin: 115px 150px;
  padding: 50px 80px;
  border-radius: 24px;
}

.user-data {
  display: flex;
  justify-content: space-between;
}

.data-heading {
  font-weight: bold;
  font-size: 80px;
}

/* Feedback section */
.feedback-section {
  background-color: #F5F7FF;
  margin: 50px;
}

.feedback-user {
  background-color: #fff;
  border-radius: 14px;
  padding: 24px;
  text-align: left;
  margin: 20px;
}

.user-pic {
  max-width: 30%;
  float: left;
}

.user-name {
  max-width: 70%;
  float: left;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile-picture {
  width: 40px;
  height: 40px;
}

.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: auto;

}

.profile-date {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}


.get-started {
  text-align: center;
  background-color: #ffffff;
  margin: 115px 150px;
  border-radius: 14px;
  padding: 50px;
}

.get-started img {
  padding: 15px;
}

.get-started h2 {
  font-size: 50px;
}

.get-started p {
  color: rgba(0, 0, 0, 0.5);
}

/* Contact Section */
.contact-title {
  font-size: 97px;
  font-weight: bold;
}

.contact {
  margin: 10px 150px;
  display: flex;

}

.contact-column {
  width: 50%;
}


.contact-btn {
  width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 95%;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
}

form label {
  padding: 5px 0;
}

footer {
  text-align: center;
  background-color: #fff;

}

footer h1 {
  font-size: 100px;
  font-weight: 900;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  display: inline;
  color: rgba(137, 135, 161, 1);
}

.footer-content {
  width: 530px;
  margin: 0 auto;
  padding: 50px;
}

.footer-content p {
  color: rgba(137, 135, 161, 1);
}